node_modules
.idea
build
config
dist
favicon
images
test
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.travis.yml
http-dist.js
index.html
npm-debug.log
screenshoot.PNG
yarn-error.log
yarn.lock
src/App.vue
src/custom-style.scss
src/main.js
src/vue2-simplert.js