node_modules
build
config
favicon
images
test
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.travis.yml
http-dist.js
index.html
npm-debug.log
screenshoot.PNG
yarn-error.log
src/main.js
src/App.vue