body {
    background-color: #f2f4f6;
}

.centered {
    text-align: center;
}

.header__title {
    margin-top: 26px;
    text-align: center;
}

.header__subtitle {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: #a6b6b9;
}

.fixed-top {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 30px;
    margin: 26px 5px 0 5px;
}

.btn-top {
    font-weight: 500;
    text-transform: uppercase;
}

.example__title {
    font-size: 1.6rem;
    color: #a6b6b9;
}

.content__row {
    margin: 20px 0;
}

.content {
    margin: 20px 0;
}

.custom-class {
    color: purple !important;
}

.custom-class-btn {
    background-color: purple !important;
}

.users {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.users li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.users li a {
    display: block;
    padding: 20px;
    transition: all .3s ease;
}

.users li a:hover {
    background-color: darken(#f2f4f6, 10%);
}

.users li a img {
    max-width: 100%;
    height: 40px;
}

.add-button {
    font-size: 3rem;
}

@media (max-width: 768px) {
    .header__title img {
        width: 80%;
    }
    .fixed-top {
        position: inherit;
    }
    .grid__col-3 {
        padding: .5em 1em;
        text-align: center;
    }
}
